# Implementasi NoSQL Database - MongoDB

##  Menghubungkan ke Database MongoDB

### Tugas
Pastikan MongoDB telah terpasang dan berjalan. Hubungkan ke MongoDB lokal.

In [36]:
!pip install pymongo

Requirement already satisfied: pymongo in /usr/local/lib/python3.10/dist-packages (4.10.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from pymongo) (2.7.0)

In [2]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb+srv://ncaa:bigdata@bigdata.psxuo.mongodb.net/')
db = client['company_db']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

## Operasi CRUD Dasar

### Tugas

In [52]:
from pymongo import MongoClient

collection.drop()

employee_data = {
    'name': 'Alice',
    'department': 'Finance',
    'age': 29,
    'salary': 4500
}
if collection.find_one({'name': employee_data['name']}) is None:
    collection.insert_one(employee_data)
    print('Data inserted')

Data inserted

#### Insert data tambahan pada koleksi employees.

In [53]:
additional_employee_data = [
    {'name': 'Bob', 'department': 'IT', 'age': 34, 'salary': 5000},
    {'name': 'Charlie', 'department': 'Marketing', 'age': 28, 'salary': 4800},
    {'name': 'Diana', 'department': 'HR', 'age': 32, 'salary': 4700},
    {'name': 'Eva', 'department': 'IT', 'age': 29, 'salary': 5200},
    {'name': 'Frank', 'department': 'Finance', 'age': 40, 'salary': 6000},
    {'name': 'Grace', 'department': 'Sales', 'age': 30, 'salary': 4500},
    {'name': 'Henry', 'department': 'Marketing', 'age': 38, 'salary': 4900},
    {'name': 'Isabel', 'department': 'HR', 'age': 26, 'salary': 4600},
    {'name': 'Jack', 'department': 'IT', 'age': 47, 'salary': 7000},
    {'name': 'Karen', 'department': 'Finance', 'age': 25, 'salary': 6200},
    {'name': 'Leo', 'department': 'Sales', 'age': 33, 'salary': 4800},
    {'name': 'Mona', 'department': 'HR', 'age': 29, 'salary': 4500},
    {'name': 'Nina', 'department': 'Marketing', 'age': 25, 'salary': 4000},
    {'name': 'Oscar', 'department': 'Finance', 'age': 42, 'salary': 6800},
    {'name': 'Paul', 'department': 'IT', 'age': 31, 'salary': 5200}
]

# Insert additional employee data
for emp in additional_employee_data:
    if collection.find_one({'name': emp['name']}) is None:
        collection.insert_one(emp)

print('Additional data inserted')

Additional data inserted

#### Update data pada koleksi employees.

In [54]:
collection.update_one(
    {'name': 'Bob'},
    {'$set': {'salary': 5500}}
)
print('Employee salary updated')

Employee salary updated

#### Delete data pada koleksi employees.

In [55]:
collection.delete_one({'name': 'Charlie'})
print('Employee data deleted')

Employee data deleted

#### Menampilkan data koleksi employees

In [56]:
for employee in collection.find():
    print(employee)

{'_id': ObjectId('6721ec0028b5add2740182bd'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6721ec0928b5add2740182be'), 'name': 'Bob', 'department': 'IT', 'age': 34, 'salary': 5500}
{'_id': ObjectId('6721ec0a28b5add2740182c0'), 'name': 'Diana', 'department': 'HR', 'age': 32, 'salary': 4700}
{'_id': ObjectId('6721ec0a28b5add2740182c1'), 'name': 'Eva', 'department': 'IT', 'age': 29, 'salary': 5200}
{'_id': ObjectId('6721ec0b28b5add2740182c2'), 'name': 'Frank', 'department': 'Finance', 'age': 40, 'salary': 6000}
{'_id': ObjectId('6721ec0b28b5add2740182c3'), 'name': 'Grace', 'department': 'Sales', 'age': 30, 'salary': 4500}
{'_id': ObjectId('6721ec0c28b5add2740182c4'), 'name': 'Henry', 'department': 'Marketing', 'age': 38, 'salary': 4900}
{'_id': ObjectId('6721ec0c28b5add2740182c5'), 'name': 'Isabel', 'department': 'HR', 'age': 26, 'salary': 4600}
{'_id': ObjectId('6721ec0c28b5add2740182c6'), 'name': 'Jack', 'department': 'IT', 'age': 47, 'salary': 7000}
{'_id': ObjectId('6721ec0d28b5add2740182c7'), 'name': 'Karen', 'department': 'Finance', 'age': 25, 'salary': 6200}
{'_id': ObjectId('6721ec0d28b5add2740182c8'), 'name': 'Leo', 'department': 'Sales', 'age': 33, 'salary': 4800}
{'_id': ObjectId('6721ec0e28b5add2740182c9'), 'name': 'Mona', 'department': 'HR', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6721ec0e28b5add2740182ca'), 'name': 'Nina', 'department': 'Marketing', 'age': 25, 'salary': 4000}
{'_id': ObjectId('6721ec0f28b5add2740182cb'), 'name': 'Oscar', 'department': 'Finance', 'age': 42, 'salary': 6800}
{'_id': ObjectId('6721ec0f28b5add2740182cc'), 'name': 'Paul', 'department': 'IT', 'age': 31, 'salary': 5200}

## Query Lebih Kompleks Menggunakan Aggregation

### Tugas

In [57]:
# Query Aggregation untuk mencari rata-rata gaji per departemen
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'Finance', 'average_salary': 5875.0}
{'_id': 'Marketing', 'average_salary': 4450.0}
{'_id': 'Sales', 'average_salary': 4650.0}
{'_id': 'IT', 'average_salary': 5725.0}
{'_id': 'HR', 'average_salary': 4600.0}

## Latihan Tambahan

#### Membuat koleksi baru products dengan minimal data 10 produk

In [35]:
products_data = [
    {'name': 'Laptop', 'category': 'Electronics', 'price': 1500, 'stock': 20},
    {'name': 'Smartphone', 'category': 'Electronics', 'price': 800, 'stock': 50},
    {'name': 'Headphones', 'category': 'Electronics', 'price': 200, 'stock': 100},
    {'name': 'Coffee Maker', 'category': 'Home Appliances', 'price': 100, 'stock': 30},
    {'name': 'Blender', 'category': 'Home Appliances', 'price': 50, 'stock': 15},
    {'name': 'Dining Table', 'category': 'Furniture', 'price': 300, 'stock': 10},
    {'name': 'Office Chair', 'category': 'Furniture', 'price': 150, 'stock': 25},
    {'name': 'Notebook', 'category': 'Stationery', 'price': 20, 'stock': 200},
    {'name': 'Pen', 'category': 'Stationery', 'price': 10, 'stock': 500},
    {'name': 'Backpack', 'category': 'Accessories', 'price': 40, 'stock': 60},
    {'name': 'Smartwatch', 'category': 'Electronics', 'price': 250, 'stock': 40},
    {'name': 'Tablet', 'category': 'Electronics', 'price': 600, 'stock': 30},
    {'name': 'Air Fryer', 'category': 'Home Appliances', 'price': 120, 'stock': 25},
    {'name': 'Desk', 'category': 'Furniture', 'price': 200, 'stock': 12},
    {'name': 'Printer', 'category': 'Electronics', 'price': 150, 'stock': 18},
]

collection_products = db['products']
collection_products.drop()
collection_products.insert_many(products_data)
print('Data produk telah dimasukkan')

print('Data produk yang ada dalam koleksi:')
for product in collection_products.find():
    print(product)

Data produk telah dimasukkan
Data produk yang ada dalam koleksi:
{'_id': ObjectId('6721ea8f28b5add2740182aa'), 'name': 'Laptop', 'category': 'Electronics', 'price': 1500, 'stock': 20}
{'_id': ObjectId('6721ea8f28b5add2740182ab'), 'name': 'Smartphone', 'category': 'Electronics', 'price': 800, 'stock': 50}
{'_id': ObjectId('6721ea8f28b5add2740182ac'), 'name': 'Headphones', 'category': 'Electronics', 'price': 200, 'stock': 100}
{'_id': ObjectId('6721ea8f28b5add2740182ad'), 'name': 'Coffee Maker', 'category': 'Home Appliances', 'price': 100, 'stock': 30}
{'_id': ObjectId('6721ea8f28b5add2740182ae'), 'name': 'Blender', 'category': 'Home Appliances', 'price': 50, 'stock': 15}
{'_id': ObjectId('6721ea8f28b5add2740182af'), 'name': 'Dining Table', 'category': 'Furniture', 'price': 300, 'stock': 10}
{'_id': ObjectId('6721ea8f28b5add2740182b0'), 'name': 'Office Chair', 'category': 'Furniture', 'price': 150, 'stock': 25}
{'_id': ObjectId('6721ea8f28b5add2740182b1'), 'name': 'Notebook', 'category': 'Stationery', 'price': 20, 'stock': 200}
{'_id': ObjectId('6721ea8f28b5add2740182b2'), 'name': 'Pen', 'category': 'Stationery', 'price': 10, 'stock': 500}
{'_id': ObjectId('6721ea8f28b5add2740182b3'), 'name': 'Backpack', 'category': 'Accessories', 'price': 40, 'stock': 60}
{'_id': ObjectId('6721ea8f28b5add2740182b4'), 'name': 'Smartwatch', 'category': 'Electronics', 'price': 250, 'stock': 40}
{'_id': ObjectId('6721ea8f28b5add2740182b5'), 'name': 'Tablet', 'category': 'Electronics', 'price': 600, 'stock': 30}
{'_id': ObjectId('6721ea8f28b5add2740182b6'), 'name': 'Air Fryer', 'category': 'Home Appliances', 'price': 120, 'stock': 25}
{'_id': ObjectId('6721ea8f28b5add2740182b7'), 'name': 'Desk', 'category': 'Furniture', 'price': 200, 'stock': 12}
{'_id': ObjectId('6721ea8f28b5add2740182b8'), 'name': 'Printer', 'category': 'Electronics', 'price': 150, 'stock': 18}

#### Query untuk menemukan produk dengan harga di atas rata-rata

In [30]:
average_price_value = list(collection_products.aggregate([
    {'$group': {'_id': None, 'average_price': {'$avg': '$price'}}}
]))[0]['average_price']

products_above_average_unique = collection_products.aggregate([
    {'$match': {'price': {'$gt': average_price_value}}},
    {'$group': {
        '_id': '$name',
        'category': {'$first': '$category'},
        'price': {'$first': '$price'},
        'stock': {'$first': '$stock'}
    }}
])

print(f'Rata-rata harga produk: {average_price_value:.2f}')
print('Produk dengan harga di atas rata-rata:')
print('-' * 40)
for product in products_above_average_unique:
    print(f"Nama Produk: {product['_id']}")
    print(f"Kategori: {product['category']}")
    print(f"Harga: {product['price']}")
    print(f"Stok: {product['stock']}")
    print('-' * 40)

Rata-rata harga produk: 301.51
Produk dengan harga di atas rata-rata:
----------------------------------------
Nama Produk: Tablet
Kategori: Electronics
Harga: 600
Stok: 30
----------------------------------------
Nama Produk: Smartphone
Kategori: Electronics
Harga: 800
Stok: None
----------------------------------------
Nama Produk: Laptop
Kategori: Electronics
Harga: 1500
Stok: None
----------------------------------------

 #### Query aggregation pipeline untuk menghitung total produk dalam setiap kategori

In [33]:
pipeline = [
    {
        '$group': {
            '_id': {'category': '$category', 'name': '$name'},
            'total_stock': {'$sum': '$stock'}
        }
    },
    {
        '$group': {
            '_id': '$_id.category',
            'total_products': {'$sum': 1}
        }
    }
]

total_products_by_category = collection_products.aggregate(pipeline)

print('Total produk dalam setiap kategori:')
for result in total_products_by_category:
    print(result)

Total produk dalam setiap kategori:
{'_id': 'Furniture', 'total_products': 3}
{'_id': 'Home Appliances', 'total_products': 3}
{'_id': 'Stationery', 'total_products': 2}
{'_id': 'Accessories', 'total_products': 1}
{'_id': 'Electronics', 'total_products': 6}

## Tugas

#### Query mencari 5 karyawan dengan gaji tertinggi dalam setiap departemen.

In [58]:
pipeline = [
    {'$sort': {'salary': -1}},
    {'$group': {'_id': '$department', 'top_salaries': {'$push': '$$ROOT'}}},
    {'$project': {'_id': 1, 'top_salaries': {'$slice': ['$top_salaries', 5]}}}
]

print("5 Karyawan dengan gaji tertinggi dalam setiap departemen:")
for department in collection.aggregate(pipeline):
    print(f"Departemen: {department['_id']}, Karyawan: {department['top_salaries']}")

5 Karyawan dengan gaji tertinggi dalam setiap departemen:
Departemen: Sales, Karyawan: [{'_id': ObjectId('6721ec0d28b5add2740182c8'), 'name': 'Leo', 'department': 'Sales', 'age': 33, 'salary': 4800}, {'_id': ObjectId('6721ec0b28b5add2740182c3'), 'name': 'Grace', 'department': 'Sales', 'age': 30, 'salary': 4500}]
Departemen: IT, Karyawan: [{'_id': ObjectId('6721ec0c28b5add2740182c6'), 'name': 'Jack', 'department': 'IT', 'age': 47, 'salary': 7000}, {'_id': ObjectId('6721ec0928b5add2740182be'), 'name': 'Bob', 'department': 'IT', 'age': 34, 'salary': 5500}, {'_id': ObjectId('6721ec0a28b5add2740182c1'), 'name': 'Eva', 'department': 'IT', 'age': 29, 'salary': 5200}, {'_id': ObjectId('6721ec0f28b5add2740182cc'), 'name': 'Paul', 'department': 'IT', 'age': 31, 'salary': 5200}]
Departemen: Marketing, Karyawan: [{'_id': ObjectId('6721ec0c28b5add2740182c4'), 'name': 'Henry', 'department': 'Marketing', 'age': 38, 'salary': 4900}, {'_id': ObjectId('6721ec0e28b5add2740182ca'), 'name': 'Nina', 'department': 'Marketing', 'age': 25, 'salary': 4000}]
Departemen: HR, Karyawan: [{'_id': ObjectId('6721ec0a28b5add2740182c0'), 'name': 'Diana', 'department': 'HR', 'age': 32, 'salary': 4700}, {'_id': ObjectId('6721ec0c28b5add2740182c5'), 'name': 'Isabel', 'department': 'HR', 'age': 26, 'salary': 4600}, {'_id': ObjectId('6721ec0e28b5add2740182c9'), 'name': 'Mona', 'department': 'HR', 'age': 29, 'salary': 4500}]
Departemen: Finance, Karyawan: [{'_id': ObjectId('6721ec0f28b5add2740182cb'), 'name': 'Oscar', 'department': 'Finance', 'age': 42, 'salary': 6800}, {'_id': ObjectId('6721ec0d28b5add2740182c7'), 'name': 'Karen', 'department': 'Finance', 'age': 25, 'salary': 6200}, {'_id': ObjectId('6721ec0b28b5add2740182c2'), 'name': 'Frank', 'department': 'Finance', 'age': 40, 'salary': 6000}, {'_id': ObjectId('6721ec0028b5add2740182bd'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}]

#### Query untuk menghapus karyawan yang berusia di bawah 25 tahun

In [59]:
collection.delete_many({'age': {'$lt': 25}})
print('Karyawan yang berusia di bawah 25 tahun telah dihapus')

Karyawan yang berusia di bawah 25 tahun telah dihapus


Query menghitung total gaji karyawan di setiap departemen, serta rata-rata umur karyawan.

In [60]:
salary_report = collection.aggregate([
    {'$group': {
        '_id': '$department',
        'total_salary': {'$sum': '$salary'},
        'average_age': {'$avg': '$age'}
    }}
])

print("\nTotal gaji dan rata-rata umur karyawan di setiap departemen:")

for report in salary_report:
    print(f"Departemen: {report['_id']}, Total Gaji: {report['total_salary']}, Rata-rata Umur: {report['average_age']:.2f}")

Total gaji dan rata-rata umur karyawan di setiap departemen:
Departemen: Finance, Total Gaji: 23500, Rata-rata Umur: 34.00
Departemen: HR, Total Gaji: 13800, Rata-rata Umur: 29.00
Departemen: IT, Total Gaji: 22900, Rata-rata Umur: 35.25
Departemen: Marketing, Total Gaji: 8900, Rata-rata Umur: 31.50
Departemen: Sales, Total Gaji: 9300, Rata-rata Umur: 31.50