# Advanced MongoDB Operations and Data Query

## Advanced CRUD Operations

In [36]:
!pip install pymongo

Requirement already satisfied: pymongo in /usr/local/lib/python3.10/dist-packages (4.10.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from pymongo) (2.7.0)

### Exercise 1
Use `bulk_write` to insert, update, and delete multiple documents simultaneously.

### Task 1
 Insert a dataset of `courses` where each course has multiple student enrollments, then display the data.

In [47]:
from pymongo import MongoClient, InsertOne, UpdateOne, DeleteOne

client = MongoClient('mongodb+srv://ncaa:bigdata@bigdata.psxuo.mongodb.net/')
db = client['university_db']
courses_collection = db['courses']

courses_collection.delete_many({})

operations = [

    InsertOne({'course': 'Calculus I', 'enrollments': 30, 'department': 'Mathematics'}),
    InsertOne({'course': 'Linear Algebra', 'enrollments': 8, 'department': 'Mathematics'}),
    InsertOne({'course': 'Discrete Mathematics', 'enrollments':29, 'department': 'Mathematics'}),
    InsertOne({'course': 'Differential Equations', 'enrollments': 45, 'department': 'Mathematics'}),
    InsertOne({'course': 'Data Science', 'enrollments': 25, 'department': 'Computer Science'}),
    InsertOne({'course': 'Algorithms', 'enrollments': 35, 'department': 'Computer Science'}),
    InsertOne({'course': 'Information Security', 'enrollments': 13, 'department': 'Computer Science'}),
    InsertOne({'course': 'Machine Learning', 'enrollments': 22, 'department': 'Computer Science'}),
    InsertOne({'course': 'Web Development', 'enrollments': 30, 'department': 'Computer Science'}),
    InsertOne({'course': 'Big Data', 'enrollments': 40, 'department': 'Computer Science'}),
    InsertOne({'course': 'Quantum Mechanics', 'enrollments': 35, 'department': 'Physics'}),
    InsertOne({'course': 'Electromagnetism', 'enrollments': 17, 'department': 'Physics'}),
    InsertOne({'course': 'Thermodynamics', 'enrollments': 40, 'department': 'Physics'}),
    InsertOne({'course': 'History of Ancient Civilizations', 'enrollments': 35, 'department': 'History'}),
    InsertOne({'course': 'History of the United States', 'enrollments': 40, 'department': 'History'}),
    InsertOne({'course': 'History of Europe 101', 'enrollments': 30, 'department': 'History'}),
    InsertOne({'course': 'Neuropsychology', 'enrollments': 19, 'department': 'Psychology'}),
    InsertOne({'course': 'Forensic Psychology', 'enrollments': 30, 'department': 'Psychology'}),

    UpdateOne({'course': 'Calculus I'}, {'$set': {'enrollments': 35}}),
    UpdateOne({'course': 'Machine Learning'}, {'$inc': {'enrollments': 5}}),
    UpdateOne({'course': 'Big Data'}, {'$set': {'enrollments': 42}}),
    UpdateOne({'course': 'History of Europe 101'}, {'$set': {'enrollments': 33}}),
    UpdateOne({'course': 'Quantum Mechanics'}, {'$inc': {'enrollments': 5}}),

    DeleteOne({'course': 'Web Development'}),
    DeleteOne({'course': 'Linear Algebra'}),
    DeleteOne({'course': 'Neuropsychology'}),
]

result = courses_collection.bulk_write(operations)
print("Exercise 1 Bulk operations completed successfully\n")

courses = courses_collection.find()
for course in courses:
    print(course)

Exercise 1 Bulk operations completed successfully

{'_id': ObjectId('672b1d24dba81ca1d5516aaa'), 'course': 'Calculus I', 'enrollments': 35, 'department': 'Mathematics'}
{'_id': ObjectId('672b1d24dba81ca1d5516aac'), 'course': 'Discrete Mathematics', 'enrollments': 29, 'department': 'Mathematics'}
{'_id': ObjectId('672b1d24dba81ca1d5516aad'), 'course': 'Differential Equations', 'enrollments': 45, 'department': 'Mathematics'}
{'_id': ObjectId('672b1d24dba81ca1d5516aae'), 'course': 'Data Science', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('672b1d24dba81ca1d5516aaf'), 'course': 'Algorithms', 'enrollments': 35, 'department': 'Computer Science'}
{'_id': ObjectId('672b1d24dba81ca1d5516ab0'), 'course': 'Information Security', 'enrollments': 13, 'department': 'Computer Science'}
{'_id': ObjectId('672b1d24dba81ca1d5516ab1'), 'course': 'Machine Learning', 'enrollments': 27, 'department': 'Computer Science'}
{'_id': ObjectId('672b1d24dba81ca1d5516ab3'), 'course': 'Big Data', 'enrollments': 42, 'department': 'Computer Science'}
{'_id': ObjectId('672b1d24dba81ca1d5516ab4'), 'course': 'Quantum Mechanics', 'enrollments': 40, 'department': 'Physics'}
{'_id': ObjectId('672b1d24dba81ca1d5516ab5'), 'course': 'Electromagnetism', 'enrollments': 17, 'department': 'Physics'}
{'_id': ObjectId('672b1d24dba81ca1d5516ab6'), 'course': 'Thermodynamics', 'enrollments': 40, 'department': 'Physics'}
{'_id': ObjectId('672b1d24dba81ca1d5516ab7'), 'course': 'History of Ancient Civilizations', 'enrollments': 35, 'department': 'History'}
{'_id': ObjectId('672b1d24dba81ca1d5516ab8'), 'course': 'History of the United States', 'enrollments': 40, 'department': 'History'}
{'_id': ObjectId('672b1d24dba81ca1d5516ab9'), 'course': 'History of Europe 101', 'enrollments': 33, 'department': 'History'}
{'_id': ObjectId('672b1d24dba81ca1d5516abb'), 'course': 'Forensic Psychology', 'enrollments': 30, 'department': 'Psychology'}

## Complex Filtering and Querying

### Exercise 2
 Filter courses with enrollments over 20 students.

In [35]:
for course in courses_collection.find({'enrollments': {'$gt': 20}}):
    print(course)

{'_id': ObjectId('672b1a1fdba81ca1d5516a84'), 'course': 'Calculus I', 'enrollments': 35, 'department': 'Mathematics'}
{'_id': ObjectId('672b1a1fdba81ca1d5516a86'), 'course': 'Discrete Mathematics I', 'enrollments': 29, 'department': 'Mathematics'}
{'_id': ObjectId('672b1a1fdba81ca1d5516a87'), 'course': 'Differential Equations I', 'enrollments': 45, 'department': 'Mathematics'}
{'_id': ObjectId('672b1a1fdba81ca1d5516a88'), 'course': 'Data Science', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('672b1a1fdba81ca1d5516a89'), 'course': 'Algorithms', 'enrollments': 35, 'department': 'Computer Science'}
{'_id': ObjectId('672b1a1fdba81ca1d5516a8b'), 'course': 'Machine Learning', 'enrollments': 27, 'department': 'Computer Science'}
{'_id': ObjectId('672b1a1fdba81ca1d5516a8d'), 'course': 'Big Data', 'enrollments': 42, 'department': 'Computer Science'}
{'_id': ObjectId('672b1a1fdba81ca1d5516a8e'), 'course': 'Quantum Mechanics', 'enrollments': 40, 'department': 'Physics'}
{'_id': ObjectId('672b1a1fdba81ca1d5516a90'), 'course': 'Thermodynamics', 'enrollments': 40, 'department': 'Physics'}
{'_id': ObjectId('672b1a1fdba81ca1d5516a91'), 'course': 'History of Ancient Civilizations', 'enrollments': 35, 'department': 'History'}
{'_id': ObjectId('672b1a1fdba81ca1d5516a92'), 'course': 'History of the United States', 'enrollments': 40, 'department': 'History'}
{'_id': ObjectId('672b1a1fdba81ca1d5516a93'), 'course': 'History of Europe 101', 'enrollments': 33, 'department': 'History'}
{'_id': ObjectId('672b1a1fdba81ca1d5516a95'), 'course': 'Forensic Psychology', 'enrollments': 30, 'department': 'Psychology'}

### Task 2
Retrieve and display courses only from the 'Computer Science' or 'Mathematics' departments.

In [38]:
for course in courses_collection.find({'department': {'$in': ['Computer Science', 'Mathematics']}}):
    print(course)

{'_id': ObjectId('672b1a59dba81ca1d5516a97'), 'course': 'Calculus I', 'enrollments': 35, 'department': 'Mathematics'}
{'_id': ObjectId('672b1a59dba81ca1d5516a99'), 'course': 'Discrete Mathematics', 'enrollments': 29, 'department': 'Mathematics'}
{'_id': ObjectId('672b1a59dba81ca1d5516a9a'), 'course': 'Differential Equations', 'enrollments': 45, 'department': 'Mathematics'}
{'_id': ObjectId('672b1a59dba81ca1d5516a9b'), 'course': 'Data Science', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('672b1a59dba81ca1d5516a9c'), 'course': 'Algorithms', 'enrollments': 35, 'department': 'Computer Science'}
{'_id': ObjectId('672b1a59dba81ca1d5516a9d'), 'course': 'Information Security', 'enrollments': 13, 'department': 'Computer Science'}
{'_id': ObjectId('672b1a59dba81ca1d5516a9e'), 'course': 'Machine Learning', 'enrollments': 27, 'department': 'Computer Science'}
{'_id': ObjectId('672b1a59dba81ca1d5516aa0'), 'course': 'Big Data', 'enrollments': 42, 'department': 'Computer Science'}

## Aggregation Framework for Data Analysis

### Exercise 3
 Use aggregation to find the average enrollment per department.

In [39]:
pipeline = [
    {'$group': {'_id': '$department', 'average_enrollment': {'$avg': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Mathematics', 'average_enrollment': 36.333333333333336}
{'_id': 'Computer Science', 'average_enrollment': 28.4}
{'_id': 'Physics', 'average_enrollment': 32.333333333333336}
{'_id': 'Psychology', 'average_enrollment': 30.0}
{'_id': 'History', 'average_enrollment': 36.0}

### Task 3
Create an aggregation pipeline that finds the maximum enrollment for each department.

In [40]:
pipeline = [
    {'$group': {'_id': '$department', 'max_enrollment': {'$max': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Physics', 'max_enrollment': 40}
{'_id': 'Computer Science', 'max_enrollment': 42}
{'_id': 'Mathematics', 'max_enrollment': 45}
{'_id': 'Psychology', 'max_enrollment': 30}
{'_id': 'History', 'max_enrollment': 40}

## Data Transformation using $project and $addFields

### Exercise 4
 Use `$project` to rename and only show fields: `course_name`, `department_name`, and `enrollments`.

In [41]:
pipeline = [
    {'$project': {'course_name': '$course', 'department_name': '$department', 'enrollments': 1}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('672b1a59dba81ca1d5516a97'), 'enrollments': 35, 'course_name': 'Calculus I', 'department_name': 'Mathematics'}
{'_id': ObjectId('672b1a59dba81ca1d5516a99'), 'enrollments': 29, 'course_name': 'Discrete Mathematics', 'department_name': 'Mathematics'}
{'_id': ObjectId('672b1a59dba81ca1d5516a9a'), 'enrollments': 45, 'course_name': 'Differential Equations', 'department_name': 'Mathematics'}
{'_id': ObjectId('672b1a59dba81ca1d5516a9b'), 'enrollments': 25, 'course_name': 'Data Science', 'department_name': 'Computer Science'}
{'_id': ObjectId('672b1a59dba81ca1d5516a9c'), 'enrollments': 35, 'course_name': 'Algorithms', 'department_name': 'Computer Science'}
{'_id': ObjectId('672b1a59dba81ca1d5516a9d'), 'enrollments': 13, 'course_name': 'Information Security', 'department_name': 'Computer Science'}
{'_id': ObjectId('672b1a59dba81ca1d5516a9e'), 'enrollments': 27, 'course_name': 'Machine Learning', 'department_name': 'Computer Science'}
{'_id': ObjectId('672b1a59dba81ca1d5516aa0'), 'enrollments': 42, 'course_name': 'Big Data', 'department_name': 'Computer Science'}
{'_id': ObjectId('672b1a59dba81ca1d5516aa1'), 'enrollments': 40, 'course_name': 'Quantum Mechanics', 'department_name': 'Physics'}
{'_id': ObjectId('672b1a59dba81ca1d5516aa2'), 'enrollments': 17, 'course_name': 'Electromagnetism', 'department_name': 'Physics'}
{'_id': ObjectId('672b1a59dba81ca1d5516aa3'), 'enrollments': 40, 'course_name': 'Thermodynamics', 'department_name': 'Physics'}
{'_id': ObjectId('672b1a59dba81ca1d5516aa4'), 'enrollments': 35, 'course_name': 'History of Ancient Civilizations', 'department_name': 'History'}
{'_id': ObjectId('672b1a59dba81ca1d5516aa5'), 'enrollments': 40, 'course_name': 'History of the United States', 'department_name': 'History'}
{'_id': ObjectId('672b1a59dba81ca1d5516aa6'), 'enrollments': 33, 'course_name': 'History of Europe 101', 'department_name': 'History'}
{'_id': ObjectId('672b1a59dba81ca1d5516aa8'), 'enrollments': 30, 'course_name': 'Forensic Psychology', 'department_name': 'Psychology'}

### Task 4
Use `$addFields` to create a new field `enrollment_category` where enrollments > 20 are 'high' and others 'low'.

In [42]:
pipeline = [
    {'$addFields': {'enrollment_category': {'$cond': {'if': {'$gt': ['$enrollments', 20]}, 'then': 'high', 'else': 'low'}}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('672b1a59dba81ca1d5516a97'), 'course': 'Calculus I', 'enrollments': 35, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('672b1a59dba81ca1d5516a99'), 'course': 'Discrete Mathematics', 'enrollments': 29, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('672b1a59dba81ca1d5516a9a'), 'course': 'Differential Equations', 'enrollments': 45, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('672b1a59dba81ca1d5516a9b'), 'course': 'Data Science', 'enrollments': 25, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('672b1a59dba81ca1d5516a9c'), 'course': 'Algorithms', 'enrollments': 35, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('672b1a59dba81ca1d5516a9d'), 'course': 'Information Security', 'enrollments': 13, 'department': 'Computer Science', 'enrollment_category': 'low'}
{'_id': ObjectId('672b1a59dba81ca1d5516a9e'), 'course': 'Machine Learning', 'enrollments': 27, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('672b1a59dba81ca1d5516aa0'), 'course': 'Big Data', 'enrollments': 42, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('672b1a59dba81ca1d5516aa1'), 'course': 'Quantum Mechanics', 'enrollments': 40, 'department': 'Physics', 'enrollment_category': 'high'}
{'_id': ObjectId('672b1a59dba81ca1d5516aa2'), 'course': 'Electromagnetism', 'enrollments': 17, 'department': 'Physics', 'enrollment_category': 'low'}
{'_id': ObjectId('672b1a59dba81ca1d5516aa3'), 'course': 'Thermodynamics', 'enrollments': 40, 'department': 'Physics', 'enrollment_category': 'high'}
{'_id': ObjectId('672b1a59dba81ca1d5516aa4'), 'course': 'History of Ancient Civilizations', 'enrollments': 35, 'department': 'History', 'enrollment_category': 'high'}
{'_id': ObjectId('672b1a59dba81ca1d5516aa5'), 'course': 'History of the United States', 'enrollments': 40, 'department': 'History', 'enrollment_category': 'high'}
{'_id': ObjectId('672b1a59dba81ca1d5516aa6'), 'course': 'History of Europe 101', 'enrollments': 33, 'department': 'History', 'enrollment_category': 'high'}
{'_id': ObjectId('672b1a59dba81ca1d5516aa8'), 'course': 'Forensic Psychology', 'enrollments': 30, 'department': 'Psychology', 'enrollment_category': 'high'}

## Homework

### Homework 1
Perform an aggregation to get a count of courses per department.

In [43]:
pipeline_1 = [
    {'$group': {
        '_id': '$department',
        'course_count': {'$sum': 1}
    }}
]

result_1 = courses_collection.aggregate(pipeline_1)
print("Course Count per Department\n")
for result in result_1:
    print(result)

Course Count per Department

{'_id': 'Physics', 'course_count': 3}
{'_id': 'History', 'course_count': 3}
{'_id': 'Computer Science', 'course_count': 5}
{'_id': 'Psychology', 'course_count': 1}
{'_id': 'Mathematics', 'course_count': 3}

### Homework 2
Use `$match` and `$group` together to filter and get only courses with enrollments over 25 in 'Computer Science'.

In [45]:
pipeline_2 = [
    {'$match': {'department': 'Computer Science', 'enrollments': {'$gt': 25}}},
    {'$group': {
        '_id': '$course',
        'enrollments': {'$first': '$enrollments'}
    }}
]

result_2 = courses_collection.aggregate(pipeline_2)
print("Courses with enrollments > 25 in Computer Science\n")
for record in result_2:
    print(record)

Courses with enrollments > 25 in Computer Science

{'_id': 'Algorithms', 'enrollments': 35}
{'_id': 'Machine Learning', 'enrollments': 27}
{'_id': 'Big Data', 'enrollments': 42}

### Homework 3
Apply `$lookup` to join `courses` collection with `students` collection based on student enrollments.

In [53]:
from pymongo import MongoClient, InsertOne

client = MongoClient('mongodb+srv://ncaa:bigdata@bigdata.psxuo.mongodb.net/')
db = client['university_db']
students_collection = db['students']

students_data = [
    InsertOne({'student_name': 'John Doe', 'course': 'Calculus I'}),
    InsertOne({'student_name': 'Bob White', 'course': 'Discrete Mathematics'}),
    InsertOne({'student_name': 'Eva Blue', 'course': 'Differential Equations'}),
    InsertOne({'student_name': 'Jack Orange', 'course': 'Data Science'}),
    InsertOne({'student_name': 'Mona Blue', 'course': 'Algorithms'}),
    InsertOne({'student_name': 'Paul Yellow', 'course': 'Information Security'}),
    InsertOne({'student_name': 'Sam White', 'course': 'Machine Learning'}),
    InsertOne({'student_name': 'Vera Blue', 'course': 'Big Data'}),
    InsertOne({'student_name': 'Yara White', 'course': 'Quantum Mechanics'}),
    InsertOne({'student_name': 'Adam Red', 'course': 'Thermodynamics'}),
    InsertOne({'student_name': 'Ben Green', 'course': 'Electromagnetism'}),
    InsertOne({'student_name': 'Eve Orange', 'course': 'History of Ancient Civilizations'}),
    InsertOne({'student_name': 'Grace Pink', 'course': 'History of the United States'}),
    InsertOne({'student_name': 'Helen Red', 'course': 'History of Europe 101'}),
    InsertOne({'student_name': 'George Brown', 'course': 'Forensic Psychology'})
]

result = students_collection.bulk_write(students_data)
print("Student data has been successfully inserted")

Student data has been successfully inserted

In [54]:
pipeline_3 = [
    {'$lookup': {
        'from': 'students',
        'localField': 'course',
        'foreignField': 'course',
        'as': 'student_enrollments'
    }}
]

result_3 = courses_collection.aggregate(pipeline_3)
print("Courses with student enrollments\n")
for record in result_3:
    print(record)

Courses with student enrollments

{'_id': ObjectId('672b1d24dba81ca1d5516aaa'), 'course': 'Calculus I', 'enrollments': 35, 'department': 'Mathematics', 'student_enrollments': [{'_id': ObjectId('672b1f0fdba81ca1d5516abd'), 'student_name': 'John Doe', 'course': 'Calculus I'}, {'_id': ObjectId('672b1f0fdba81ca1d5516abe'), 'student_name': 'Jane Smith', 'course': 'Calculus I'}, {'_id': ObjectId('672b1fa9dba81ca1d5516ac6'), 'student_name': 'John Doe', 'course': 'Calculus I'}, {'_id': ObjectId('672b1fa9dba81ca1d5516ac7'), 'student_name': 'Jane Smith', 'course': 'Calculus I'}, {'_id': ObjectId('672b20b1dba81ca1d5516acf'), 'student_name': 'John Doe', 'course': 'Calculus I'}]}
{'_id': ObjectId('672b1d24dba81ca1d5516aac'), 'course': 'Discrete Mathematics', 'enrollments': 29, 'department': 'Mathematics', 'student_enrollments': [{'_id': ObjectId('672b1f0fdba81ca1d5516ac0'), 'student_name': 'Bob White', 'course': 'Discrete Mathematics'}, {'_id': ObjectId('672b1fa9dba81ca1d5516ac9'), 'student_name': 'Bob White', 'course': 'Discrete Mathematics'}, {'_id': ObjectId('672b20b1dba81ca1d5516ad0'), 'student_name': 'Bob White', 'course': 'Discrete Mathematics'}]}
{'_id': ObjectId('672b1d24dba81ca1d5516aad'), 'course': 'Differential Equations', 'enrollments': 45, 'department': 'Mathematics', 'student_enrollments': [{'_id': ObjectId('672b20b1dba81ca1d5516ad1'), 'student_name': 'Eva Blue', 'course': 'Differential Equations'}]}
{'_id': ObjectId('672b1d24dba81ca1d5516aae'), 'course': 'Data Science', 'enrollments': 25, 'department': 'Computer Science', 'student_enrollments': [{'_id': ObjectId('672b1f0fdba81ca1d5516ac1'), 'student_name': 'Charlie Black', 'course': 'Data Science'}, {'_id': ObjectId('672b1fa9dba81ca1d5516aca'), 'student_name': 'Charlie Black', 'course': 'Data Science'}, {'_id': ObjectId('672b20b1dba81ca1d5516ad2'), 'student_name': 'Jack Orange', 'course': 'Data Science'}]}
{'_id': ObjectId('672b1d24dba81ca1d5516aaf'), 'course': 'Algorithms', 'enrollments': 35, 'department': 'Computer Science', 'student_enrollments': [{'_id': ObjectId('672b20b1dba81ca1d5516ad3'), 'student_name': 'Mona Blue', 'course': 'Algorithms'}]}
{'_id': ObjectId('672b1d24dba81ca1d5516ab0'), 'course': 'Information Security', 'enrollments': 13, 'department': 'Computer Science', 'student_enrollments': [{'_id': ObjectId('672b20b1dba81ca1d5516ad4'), 'student_name': 'Paul Yellow', 'course': 'Information Security'}]}
{'_id': ObjectId('672b1d24dba81ca1d5516ab1'), 'course': 'Machine Learning', 'enrollments': 27, 'department': 'Computer Science', 'student_enrollments': [{'_id': ObjectId('672b1f0fdba81ca1d5516ac2'), 'student_name': 'David Green', 'course': 'Machine Learning'}, {'_id': ObjectId('672b1fa9dba81ca1d5516acb'), 'student_name': 'David Green', 'course': 'Machine Learning'}, {'_id': ObjectId('672b20b1dba81ca1d5516ad5'), 'student_name': 'Sam White', 'course': 'Machine Learning'}]}
{'_id': ObjectId('672b1d24dba81ca1d5516ab3'), 'course': 'Big Data', 'enrollments': 42, 'department': 'Computer Science', 'student_enrollments': [{'_id': ObjectId('672b20b1dba81ca1d5516ad6'), 'student_name': 'Vera Blue', 'course': 'Big Data'}]}
{'_id': ObjectId('672b1d24dba81ca1d5516ab4'), 'course': 'Quantum Mechanics', 'enrollments': 40, 'department': 'Physics', 'student_enrollments': [{'_id': ObjectId('672b1f0fdba81ca1d5516ac3'), 'student_name': 'Eva Blue', 'course': 'Quantum Mechanics'}, {'_id': ObjectId('672b1fa9dba81ca1d5516acc'), 'student_name': 'Eva Blue', 'course': 'Quantum Mechanics'}, {'_id': ObjectId('672b20b1dba81ca1d5516ad7'), 'student_name': 'Yara White', 'course': 'Quantum Mechanics'}]}
{'_id': ObjectId('672b1d24dba81ca1d5516ab5'), 'course': 'Electromagnetism', 'enrollments': 17, 'department': 'Physics', 'student_enrollments': [{'_id': ObjectId('672b20b1dba81ca1d5516ad9'), 'student_name': 'Ben Green', 'course': 'Electromagnetism'}]}
{'_id': ObjectId('672b1d24dba81ca1d5516ab6'), 'course': 'Thermodynamics', 'enrollments': 40, 'department': 'Physics', 'student_enrollments': [{'_id': ObjectId('672b20b1dba81ca1d5516ad8'), 'student_name': 'Adam Red', 'course': 'Thermodynamics'}]}
{'_id': ObjectId('672b1d24dba81ca1d5516ab7'), 'course': 'History of Ancient Civilizations', 'enrollments': 35, 'department': 'History', 'student_enrollments': [{'_id': ObjectId('672b20b1dba81ca1d5516ada'), 'student_name': 'Eve Orange', 'course': 'History of Ancient Civilizations'}]}
{'_id': ObjectId('672b1d24dba81ca1d5516ab8'), 'course': 'History of the United States', 'enrollments': 40, 'department': 'History', 'student_enrollments': [{'_id': ObjectId('672b20b1dba81ca1d5516adb'), 'student_name': 'Grace Pink', 'course': 'History of the United States'}]}
{'_id': ObjectId('672b1d24dba81ca1d5516ab9'), 'course': 'History of Europe 101', 'enrollments': 33, 'department': 'History', 'student_enrollments': [{'_id': ObjectId('672b1f0fdba81ca1d5516ac4'), 'student_name': 'Frank Yellow', 'course': 'History of Europe 101'}, {'_id': ObjectId('672b1fa9dba81ca1d5516acd'), 'student_name': 'Frank Yellow', 'course': 'History of Europe 101'}, {'_id': ObjectId('672b20b1dba81ca1d5516adc'), 'student_name': 'Helen Red', 'course': 'History of Europe 101'}]}
{'_id': ObjectId('672b1d24dba81ca1d5516abb'), 'course': 'Forensic Psychology', 'enrollments': 30, 'department': 'Psychology', 'student_enrollments': [{'_id': ObjectId('672b20b1dba81ca1d5516add'), 'student_name': 'George Brown', 'course': 'Forensic Psychology'}]}